* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.product-img {
  height: 500px;
  vertical-align: middle;
  margin-left: 100px;
}
.product-text {
  display: inline;
  font-size: 3em;
}

.header {
	margin: 0 auto;
}

.main-nav {
	background: #14068c;
	height: 80px;
	z-index: 1;
}
.home {
	padding: 0 0 0 60px;
	height: 80px;
}

.main-nav ul {
	padding: 0;
	margin: 0;
	margin-right: 30px;
	float: right;
	z-index: 1;
}

.main-nav ul li {
	background: #14068c;
	position: relative;
	display: inline-block;
	list-style: none;
	z-index: 1;
}

.main-nav ul li a {
	color: #ffffff;
	line-height: 80px;
	padding: 0 30px;
	font-size: 18px;
	display: block;
	text-decoration: none;
	z-index: 1;
}

.main-nav ul li a:hover {
	background: #2612c6;
	z-index: 1;
}

.main-nav ul ul {
	top: 80px;
	position: absolute;
	display: none;
	z-index: 1;
}

.main-nav ul li:hover > ul {
	display: block;
	z-index: 1;
}

.main-nav ul ul li {
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
	z-index: 1;
}

.main-nav ul ul ul li {
	top: -80px;
	left: 150px;
	position: relative;
	z-index: 1;
}

.subtitle {
  font-size: 1em;
  padding: 40px 0 30px 116px;
}

.home-div {
  position: relative;
  text-align: center;
  color: white;
}

.slide-container
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}


.slide-container .slider {
	position: absolute;
	top: 0px;
	left: 0;
	width: 500%;
	height: 100%;
	animation: animate 25s linear infinite;
}


.slide-container .slider .slide {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}

.slide-container .slider .slide .text {
	position: absolute;
	bottom: 40px;
	left: 80px;
	right: 80px;
	padding: 40px;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
}
.slide-container .slider .slide .text h2 {
	margin: 0 0 0px;
	padding: 0;
	color: #fff;
	font-size: 40px;
}

.slide-container .slider .slide.slide1 {
	background: url(images/main.jpg);
	background-size: cover;
	background-position: center;
}
.slide-container .slider .slide.slide2 {
	background: url(images/office.jpg);
	background-size: cover;
	background-position: center;
}

.slide-container .slider .slide.slide3 {
	background: url(images/lenovothinkpad.jpg);
	background-size: cover;
	background-position: center;
}

.slide-container .slider .slide.slide4 {
	background: url(images/rtx3070ti.jpg);
	background-size: cover;
	background-position: center;
}

@keyframes animate
{
	0%
	{
		left: 0;
	}
	20%
	{
		left: 0;
	}
	25%
	{
		left: -100%;
	}
	45%
	{
		left: -100%;
	}
	50%
	{
		left: -200%;
	}
	70%
	{
		left: -200%;
	}
	75%
	{
		left: -300%;
	}
	95%
	{
		left: -300%;
	}
	100%
	{
		left: -400%;
	}
}



.product-grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background: #f2f2f2;
  width: 240px;
  margin: 10px;
  border-radius: 10px;
}

.product-grid-image {
  height: 180px;
  margin-bottom: 10px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.product h2, p {
  padding: 12px;
}

.product p {
  font-size: 1.25em;
}


.product a {
  background-color: black;
  color: #ffffff;
  padding: 15px 15px;
  display: block;
  text-align: center;
  margin: 18px 20px;
  text-decoration: none;
}

.product:hover {
  background-color: #d3e4ff;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
  text-decoration: underline;
}
